


/* MAIN ELEMENTS ------------------------ */
html {
  box-sizing: border-box;
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  /* color: white; */

}
header {
  margin: 0;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: blue;
  /* outline-style: dotted; */
}

/* FLEXBOX -------------------------------------*/ 

.row {
  display: flex;
  background-color: blueviolet;
  /* padding: 0.5rem; */
  gap: 10px;
  margin-bottom: 10px;
}

.column {
  background-color: #074f57;
  padding: 1rem;
  flex: 1;
  color: white;
  
}

.main-pic {
 /* outline-style: dotted; */
 background-image: url(../images/keyflip.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: top right;
 /* aspect-ratio: auto; */
 padding-top: 200px;
 padding-bottom: 400px;
 color: white;
 line-height: 190%;
}

.interior-pic {
  /* width: 50px; */
  background-image: url(../images/home_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  background-color: #074f57;
  padding-top: 400px;
  padding-bottom: 50px;
  color: white;
   }

.interior-txt {
  /* padding-top: 100px; */
  padding-bottom: 50px;
  line-height: 180%;
  color: white;
}

.pets-pic {
  /* width: 50px; */
  background-image: url(../images/dogcat_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #074f57;
  padding-top: 400px;
  padding-bottom: 50px;
  color: white;
   }

.pets-txt {
  /* padding-top: 100px; */
  padding-bottom: 50px;
  line-height: 180%;
  color: white;
}

.fuzzy-pic {
  /* width: 50px; */
  background-image: url(../images/plant_640.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #074f57;
  padding-top: 400px;
  padding-bottom: 50px;
  color: white;
   }

.fuzzy-txt {
  /* padding-top: 100px; */
  padding-bottom: 50px;
  line-height: 180%;
  color: white;
}
.why-pic {
  /* width: 50px; */
  background-image: url(../images/window_1920x1224.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #074f57;
  padding-top: 400px;
  padding-bottom: 50px;
  color: white;
   }

.why-txt {
  /* padding-top: 100px; */
  padding-bottom: 50px;
  line-height: 180%;
  color: white;
}

/* MEDIA QUERIES MEDIUM DEVICES --------------------- */

@media only screen and (max-width: 560px) {

  .row {
    flex-wrap: wrap;
  }
  
  .column {
    flex-basis: 100%;
  }

}
